sources:
  dummy_logs:
    type: "demo_logs"
    format: "syslog"
    interval: 1
    internal_log_rate_limit: 1000

transforms:
  parse_logs:
    type: "remap"
    inputs: ["dummy_logs"]
    source: |
      . = parse_syslog!(string!(.message))

sinks:
  clickhouse:
    type: clickhouse
    inputs: ["parse_logs"]
    compression: gzip
    database: "logs"
    endpoint: http://158.160.85.148
    table: "vector"
    healthcheck: false
    skip_unknown_fields: true
